.container {
  background-color: var(--secondary-black);
  border-radius: 14px;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    .title {
      color: var(--secondary-white);
    }
  }
}

.childrenWrapper {
  flex-direction: row-reverse;
}

.select {
  // width: 100%;
  width: 200px;
  background-color: #5a5b70;
  border-radius: 14px;
  color: var(--primary-white);
}

@media screen and (max-width: 650px) {
  .childrenWrapper {
    flex-direction: column;
  }
}
