.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 1.75rem;
  margin-top: 1.75rem;
  background-color: var(--secondary-gray);
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  flex-wrap: nowrap;

  .nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap;
  }

  .clientWrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex: 1;
    justify-content: flex-end;
    flex-wrap: nowrap;

    .btn {
      border-radius: 30px;
      border: none;
      padding: 0.6rem 0;
      width: 115px;
      font-weight: 500;
    }

    .input {
      padding: 0.5rem 0;
      padding-left: 0.8rem;
      width: 100%;
      flex-shrink: 1;
      border-radius: 10px;
      border: none;
      outline: none;
    }
  }

  .logoWrapper {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-right: 1.875rem;
  }

  .itemsWrapper {
    display: flex;
    margin-right: 2rem;
    padding-top: 6px;
    gap: 1.5rem;
  }

  .inputWrapper {
    width: 50%;
  }
}

@media screen and (max-width: 650px) {
  .Navbar{
    margin-top:0;
  }
  .burgerMenu {
    display: block;
  }

  .nav {
    .itemsWrapper {
      display: none;
    }
  }

  .inputWrapper {
    display: none;
  }

  .btn {
    display: none;
  }
}

@media screen and (min-width: 650px) {
  .burgerMenu {
    display: none;
  }
}
