.item {
  text-decoration: none;

  .link {
    color: var(--primary-gray);
    font-size: var(--font-size-l);
    font-weight: 500;
    white-space: nowrap;
  }

  &.active {
    .link {
      color: var(--primary-red);
    }
  }
}

@media screen and (max-width: 768px) {
  .item {
    .link {
      font-size: var(--font-size-m);
    }
  }
}
