.LoginForm {
  background-color: #38394e;
  padding: 30px 58px;
  display: flex;
  flex-direction: column;
  height: 377px;
  gap: 40px;

  .title {
    color: var(--secondary-dark-gray);
    font-size: 32px;
  }

  .inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .input {
    padding: 8px 16px;

    &::placeholder {
      color: var(--secondary-dark-gray);
      opacity: 1;
    }
  }

  .loginBtn {
    border-radius: 4px;
  }
}

@media screen and (max-width: 1024px) {
  .LoginForm {
    background-color: transparent;
    padding: 0 0 48px 0;
    gap: 24px;

    .inputWrapper {
      gap: 10px;
    }
  }
}
