.inputContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem; /* Adjust spacing between fields */
  align-items: center;
}

.imageUpload {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  height: 50px;
  width: 100%; /* Ensure inputs take the full width */
}

.btn {
  height: 50px;
  margin-top: 2.4rem;
  //   grid-column: span 2; /* Make the button span across both columns */
  //   justify-self: center; /* Center the button */
  //   width: 150px;
}

.label {
  margin-bottom: 0.5rem; /* Add spacing below labels */
  display: block; /* Ensure labels are above the input fields */
}

.imageUpload {
  margin-bottom: 2rem; /* Add spacing below the image upload section */
}
