.LoginImage {
  background-color: var(--primary-white);

  img {
    // padding: 3.1rem 1.8rem;
    padding: 0.4rem 0;
  }
}

@media screen and (max-width: 1024px) {
  .LoginImage {
    background-color: transparent;
  }
  img {
    width: 20rem;
  }
    
}