.container {
    border-top: 1px solid var(--tertiary-dark-gray);

    .wrapper {
        padding-top: 1rem;
        display: flex;
        justify-content: space-between;
        gap: 2.5rem;

        .btn {
            padding: 0.875rem 0;
            width: 400px;
            border: none;
            border-radius: 14px;
        }
    }
}